<%= form_with(model: replica, local: true) do |form| %>
  <% if replica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(replica.errors.count, "error") %> prohibited this replica from being saved:</h2>

      <ul>
        <% replica.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :timeout %>
    <%= form.number_field :timeout %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
