<p id="notice"><%= notice %></p>

<p>
  <strong>Gift:</strong>
  <%= @step.gift %>
</p>

<p>
  <strong>Position:</strong>
  <%= @step.opening %>
</p>

<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>

<br><br><br>

<%= link_to 'New text replica', new_step_text_replica_path(@step) %>
<%= link_to 'New image replica', new_step_image_replica_path(@step) %>

<br><br><br>

<h3>Text Replicas</h3>
<%= render @step.text_replicas %>

<h3>Image Replicas</h3>
<%= render @step.image_replicas %>
