<%= form_with(model: image_replica, local: true) do |form| %>
  <% if image_replica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image_replica.errors.count, "error") %> prohibited this image_replica from being saved:</h2>

      <ul>
        <% image_replica.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="field">
    <%= form.label :timeout %>
    <%= form.number_field :timeout %>
  </div>

  <div class="field">
    <%= form.label :phrase %>
    <%= form.text_field :phrase %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
